# Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app
lofy.exe

# Libraries
*.lib
*.a
*.dll
*.so
*.gitignore
*.lofy

# IDEs & Editors
.vscode/
.idea/
.trae/
*.swp
*.swo
*~

# Build artifacts
bin/
build/
dist/

# Logs
*.log
